# {{ ansible_managed }}

# Debian Base Repositories
deb https://deb.debian.org/debian/ {{ ansible_lsb.codename }} main contrib non-free
deb-src https://deb.debian.org/debian/ {{ ansible_lsb.codename }} main contrib non-free

# Debian Release Updates
deb https://deb.debian.org/debian/ {{ ansible_lsb.codename }}-updates main contrib non-free
deb-src https://deb.debian.org/debian/ {{ ansible_lsb.codename }}-updates main contrib non-free

# Debian Security Updates
deb https://deb.debian.org/debian-security {{ ansible_lsb.codename }}/updates main contrib non-free
deb-src https://deb.debian.org/debian-security {{ ansible_lsb.codename }}/updates main contrib non-free
{% if ansible_lsb.release == "stable" and debian_backports %}

# Debian backports
deb http://ftp.debian.org/debian {{ ansible_lsb.codename }}-backports main
deb-src http://ftp.debian.org/debian {{ ansible_lsb.codename }}-backports main
{% endif %}
